<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	
	<link rel='stylesheet' href='jQueryUI_1_12/jquery-ui.min.css' />
	<link rel='stylesheet' href='fullcalendar/fullcalendar.css' />
	<script src='fullcalendar/lib/jquery.min.js'></script>
	<script src='fullcalendar/lib/moment.min.js'></script>
	<script src='fullcalendar/fullcalendar.js'></script>
  	
	<title>家庭日程</title>
	
	<script type="text/javascript">
		$(document).ready(function() {	
		    // page is now ready, initialize the calendar...
		    $('#calendar').fullCalendar({
		        // put your options and callbacks here
		    	header: {
					left: 'prev,next today',
					center: 'title',
					right: 'month,agendaWeek,agendaDay,listWeek'
				},
				
				events: function(start, end, timezone, callback) {
			        $.ajax({
			            url: '/events',
			            dataType: 'json',
			            data: {
			                // our hypothetical feed requires UNIX timestamps
			                start: start.unix(),
			                end: end.unix()
			            },
			            success: function(doc) {
			                var events = [];
			                $(doc._embedded.events).each(function() {
			                    events.push({
			                        title: $(this).attr('name'),
			                        start: $(this).attr('startTime'),
									end: $(this).attr('endTime'),
									
									eventDetail: $(this).attr('detail')
			                    });
			                });
			                callback(events);
			            }
			        });
			        
			        var date = start;
			        while(date &lt;= end){
			        	$.ajax({
				            url: '/lunarinfo',
				            dataType: 'json',
				            data: {
				                date: "'"+date+"'"
				            },
				            success: function(lunarInfo) {
				                alert(lunarInfo);
				            }
				        });
			        	
			        	date = date.valueOf();
			        	date = date + 24 * 60 * 60 * 1000;
			        	date = new Date(date);
			        }
			    },
			    
			    lazyFetching: true,
			    theme: true,
			    
			    eventClick: function(calEvent, jsEvent, view) {

			        alert('Event: ' + calEvent.title);
			        alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
			        alert('View: ' + view.name);

			        // change the border color just for fun
			        $(this).css('border-color', 'red');

			    }
		    })
		});
	</script>
	
	<style>
		body {
			margin: 40px 10px;
			padding: 0;
			font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
			font-size: 14px;
		}
	
		#calendar {
			max-width: 900px;
			margin: 0 auto;
		}
	</style>
</head>
<body>
	<div id="calendar"></div> 
</body>
</html>